.player-search-container{
  width: 100%;
  display: flex;
  justify-content: flex-end; /* aligns the items to the right */
  align-items: center;
  padding-right: 75px;
  color: black;
}

.search-bar{
  width: 300px;
}


.body{
  text-align: center;
}

.position-buttons-container{
  display: flex;
  justify-content: flex-end;
  padding-right: 115px;
  margin-top: 10px;    

}

.position-button{
  padding: 5px 8px;
  display: flex;
  justify-content: flex-end; 
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.position-button.active{
  background-color: green;
  color: black;
  border: 1px solid black;
}

.player-list{
  justify-content: flex-end;
  margin-right: 75px;
  display: flex;
}
.display-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  max-height: 550px;
  width: 300px;
  overflow-y: auto;
  background-color: black;

}

.player-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.player-item p {
  margin: 0;
  margin-right: 10px;
  font-size: 14px;
}

.add-button {
  padding: 1px 4px; 
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  background-color: white;
  color: black;
}

.loading-text {
  font-size: 1rem;
  color: #333;
  display: inline-block;
  position: relative;
}

.loading-text span {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background-color: #333;
  border-radius: 50%;
  animation: blink 1.5s infinite step-start;
}

.loading-text span:nth-child(1) {
  animation-delay: 0s;
}
.loading-text span:nth-child(2) {
  animation-delay: 0.5s;
}
.loading-text span:nth-child(3) {
  animation-delay: 1s;
}
